<link rel="stylesheet" href="css/route.css"></link>
<div class="row" style="height: 100%">
	<div class="col-sm-6 col-md-6 listContainer searchRouteDiv">
		<div class="row" style="height: 100%; border: solid 15px #37373e;">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2 labelRouteParent">
					<span class="labelRoute" >From: </span>
				</div>
				<div layout="column" ng-cloak class="col-md-10 col-sm-10 col-xs-10">
					<md-content class="md-padding">
					<form ng-submit="$event.preventDefault()">
						<md-autocomplete class="searchBox" md-no-cache="noCache"
							md-selected-item="selectedItem"
							md-search-text-change="searchTextChange(from)"
							md-search-text="from"
							md-selected-item-change="selectedItemChange(item)"
							md-items="item in hints" md-item-text="item" md-min-length="0"
							placeholder="Start point"> <md-item-template>
						<span md-highlight-text="from" md-highlight-flags="^i">{{item}}</span>
						</md-item-template> </md-autocomplete>
						<div style="text-align: center; color: #a94442;">
							{{errorSrc}}</div>
					</form>
					</md-content>
				</div>
				<!--<input ng-model="from" placeholder="Partenza"/>-->
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2 labelRouteParent">
					<span class="labelRoute" >To: </span>
				</div>
				<div layout="column" ng-cloak class="col-md-10 col-sm-10 col-xs-10">
					<md-content class="md-padding">
					<form ng-submit="$event.preventDefault()">
						<md-autocomplete class="searchBox" md-no-cache="noCache"
							md-selected-item="selectedItem1"
							md-search-text-change="searchTextChange(to)" md-search-text="to"
							md-selected-item-change="selectedItemChange(item)"
							md-items="item in hints" md-item-text="item" md-min-length="0"
							placeholder="Destination"> <md-item-template>
						<span md-highlight-text="to" md-highlight-flags="^i">{{item}}</span>
						</md-item-template> 
						</md-autocomplete>
						<div style="text-align: center; color: #a94442;">
							{{errorDest}}</div>
					</form>
					</md-content>
				</div>
				<!--<input ng-model="to" placeholder="Arrivo"/>-->
			</div>

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12"
					style="height: 72px;">
					<ul class="listPathContainer">
						<li ng-repeat="fp in fullPath" ng-click="showPopUp('Marker'+$index)">
						<i ng-if="fp.type=='foot'"> <img src="images/walk.png" class="walk" />Walk </i> 
						<i ng-if="fp.type=='bus'"><i class="fa fa-bus" aria-hidden="true"></i> Take the {{fp.lineId}}</i>
						from {{fp.start}} to {{fp.end}}</li>
					</ul>
				</div>
			</div>
			<div class="row" style="text-align: center; color: #a94442;">{{error}}</div>
			<div class="row buttonDownPage">
				<div class="col-md-12 col-sm-12 col-xs-12" >
					<button ng-click="findPath()" type="submit" class="btn-success red"  ng-disabled="from==to || from.length==0 || to.length==0 " ng-class="{disabled: from==to || from.length==0 || to.length==0 }" >
					Find route
					</button>
				</div>
			</div>
		</div>
		<!--<li style="padding: 0px; margin: 0;  list-style-type: none; "  ng-repeat="stop in stops">
            <div class="row" style="padding: 0px; margin: 0;">
                <div class="col-sm-2 col-md-2" style="text-align: right; border-right: solid 2px lightgrey"> {{stop.id}}</div>
                <div class="col-sm-10 col-md-10" style="text-align: left"> {{stop.name}} </div>
            </div>
        </li>-->
		<div ng-show="showSpinner" ng-init="showSpinner=false">
			<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
				xmlns="http://www.w3.org/2000/svg"
				style="position: absolute; left: 50%; top: 50%">
			   <circle class="path" fill="none" stroke-width="6"
					stroke-linecap="round" cx="33" cy="33" r="30"></circle>
			</svg>
		</div>
		
	</div>

	<div class="col-sm-6 col-md-6"
		style="height: 100%;">
		<leaflet id="idRoute" style="height: 100%" defaults="defaults"
			markers="markers" paths="paths" lf-center="centerLocation"
			decorations="decorations"></leaflet>
	</div>
</div>
