<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
     <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="../css/offcanvas.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/style.css"></link>
    <title>Registration</title>
    </head>
    <body style="background-color: #37373e">
        <div th:replace="fragments/navbar :: navbar"></div>
		<div class="container" style="height: 100%; margin-top: -25px;" >

        <div class="row row-offcanvas row-offcanvas-right centeredDiv">
            <div class="col-xs-12 col-sm-12">
                <div style="text-align: center; background-color: #37373e">
                    <h2 style="color:white; padding-bottom:30px">
                    Registration
					</h2>
					<div>
			            <h id="error" th:text="${error}"   style="text-align: center; color: white;"></h>	           
			        </div>
			        <div th:if="${param.logout}">
			            You have been logged out.
			        </div>
                    <form  th:action="@{/addUser}"  method="post" style="background-color: #37373e" >
                        <div class="row">
                            <p class="col-sm-4 col-xs-2"></p>
                            <p class="col-sm-4 col-xs-8">
                                <input  class="searchBox"  type="text" style="
                                width: 100%;
                                max-width: inherit !important;
                                text-align: center;"
                                 placeholder="email" id="mail" name="email" />
                            </p>
                            <p class="col-sm-4 col-xs-2">
                            </p>
                        </div>
                            <div class="row">
                            <p class="col-sm-4 col-xs-2"></p>
                            <p class="col-sm-4 col-xs-8">
                                <input class="searchBox" type="text" style="
                                width: 100%;
                                max-width: inherit !important;
                                text-align: center;"
                                placeholder="nickname" id="username" name="nickname" />
                            </p>
                            <p class="col-sm-4 col-xs-2">
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-sm-4 col-xs-2"></p>
                            <p class="col-sm-4 col-xs-8">
                                <input type="password" class="searchBox" style="
                                width: 100%;
                                max-width: inherit !important;
                                text-align: center;"
                                placeholder="password" id="password" name="password" />
                            </p>
                            <p class="col-sm-4 col-xs-2">
                            </p>
                        </div>
                    
                        <div class="row">
                            <p class="col-sm-4 col-xs-2"></p>
                            <p class="col-sm-4 col-xs-8">
                                <input type="submit" value="Create Account" id="submitForm" style="
                                width: 90%;
                                max-width: inherit !important;
                                text-align: center;"  class="btn-success" />
                            </p>
                            <p class="col-sm-4 col-xs-2">
                            </p>
                        </div> 
                    </form>
                </div>
                <!--jumbotron-->
            </div>
            <!--  col-12 -->
        </div>
        <!--/row-->
    </div>
    <!--/.container-->

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    	 <script>
	 
	 document.getElementById("submitForm").addEventListener("click", function(event){
		    var mail = document.getElementById("mail").value;
		    var errorMessage="";
		    if(mail.length==0){
		    	errorMessage="Please insert an email";
		    }else{
		    	if(isValidEmailAddress(mail)==false){
		    		errorMessage="Please insert a valide mail";
		    	}else{
		    		errorMessage = "";
		    	}
		    }
		    document.getElementById("error").innerHTML=errorMessage; 
		    if(errorMessage.length>0){ 
		    	event.preventDefault(); 
		    	return false;
		    }

		    var username = document.getElementById("username").value;
		    var errorMessage="";
		    if(username.length==0){
		    	errorMessage="Please insert a nickname";
		    }
		    document.getElementById("error").innerHTML=errorMessage; 
		    if(errorMessage.length>0){ 
		    	event.preventDefault(); 
		    	return false;
		    }

		    var password= document.getElementById("password").value;
		    console.log(password.length);
		    errorMessage="";
		    console.log((!(password.length > 7)));
		    if(password.length==0){
		    	errorMessage="Please insert a password";
		    }else if (!(password.length > 7)){
		    	errorMessage="Please insert at least 8 characters in your password";
		    }else{
		    	errorMessage="";
		    }
		    document.getElementById("error").innerHTML=errorMessage;
		    if(errorMessage.length>0){
		    	event.preventDefault();
		    	return false;
		    }
		    
		});
	 

	 
	 function isValidEmailAddress(emailAddress) {
		    var pattern = new RegExp(/^(("[\w-+\s]+")|([\w-+]+(?:\.[\w-+]+)*)|("[\w-+\s]+")([\w-+]+(?:\.[\w-+]+)*))(@((?:[\w-+]+\.)*\w[\w-+]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][\d]\.|1[\d]{2}\.|[\d]{1,2}\.))((25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\.){2}(25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\]?$)/i);
		    return pattern.test(emailAddress);
		};
	 </script>
    </body>
</html>