<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="css/set1.css"></link>
<link rel="stylesheet" href="css/input.css"></link>
<link rel="stylesheet" href="css/style.css"></link>
<link rel="stylesheet" href="css/normalize.css"></link>
<link rel="stylesheet" href="css/demo.css"></link>
<link href="css/offcanvas.css" rel="stylesheet" type="text/css"
	media="all" />
<title>UserPage</title>
</head>
<body ng-app="App" ng-init="getUserInfo();" ng-cloak="" ng-controller="userCtrl">
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="row" style="text-align: center; height: 75%;">
		<div class="col-md-12" style="padding-top: 10%;">
			<div class="profile-header-img chat-img">
				<div ng-controller="AuthCtrl" ng-init="setAuthenticated(true)"
					sec:authorize="isAuthenticated()">
					<input id="imgsrc" value="../images/user.ico" th:value="${image}"
						ng-init="setuserImage()" ng-model="img.compressed.dataURL"
						hidden="true" />
				</div>
				<img id="img" src="../images/user.ico" ng-click="openFileReader()"
					ng-init="setuserImage()" ng-src="{{img.compressed.dataURL}}"
					alt="User Avatar" class="img-circle imgprofile"> <input
					id="inp" type='file' image="img" accept="image/*"
					resize-max-height="200" resize-max-width="200" resize-quality="0.5"
					resize-type="image/jpg" ng-image-compress="" style="display: none;"></input>
				</img>
				<!-- badge -->
			</div>

			<span class="input input--minoru">
				<button ng-click="saveImgOnServer()"
					style="height: 46px; margin-top: 2px;" class="btn-success">Change
					Image</button>
			</span>
		</div>
	</div>
	<div class="row imgcontainer"
		style="border-bottom: 1px solid #9d9d9d !important;">
		
		<h th:text="${error}"  style="text-align: center; color: #a94442;">
		</h>
		<h ng-bind-html="error" style="text-align: center; color: #a94442;">
		</h>
		<form th:action="@{/changePassword}" name="passwordForm" ng-submit="checkIfValid(passwordForm.$valid,$event)" novalidate="true" method="post">
			<div class="col-md-4" style="padding-top: 60px">
				<section class="content bgcolor-5">
					<span class="input input--minoru"> <input
						class="input__field input__field--yoko"  type="password" ng-model="oldpsw" name="oldpsw" required="true" />
						<label class="input__label input__label--yoko" ng-class="{error : oldpswError}"  for="input-16">
							<span class="input__label-content input__label-content--yoko">Old
								Passowrd</span>
					</label>
					</span>
				</section>
			</div>
			<div class="col-md-4" style="padding-top: 60px">
				<section class="content bgcolor-5">
					<span class="input input--minoru"> <input
						class="input__field input__field--yoko" type="password" ng-model="newpsw" name="newpsw" ng-minlength="8" required="true" />
						<label class="input__label input__label--yoko" ng-class="{error : newpswError}" for="input-17">
							<span class="input__label-content input__label-content--yoko">New
								Password</span>
					</label>
					</span>
				</section>
			</div>
			<div class="col-md-4" style="padding-top: 80px;">
				<span class="input input--minoru">
					<button type="submit" style="height: 46px; margin-top: 2px;"
						class="btn-success">Change Password</button>
				</span>
			</div>
		</form>
	</div>

	<div class="row formContainer" style=" padding-top: 8%;  padding-bottom: 8%;">
		<form th:action="@{/addInfo}" method="post">
			<div class="row" style="margin-top: 40px;">
				<div class="col-md-2">
					<h4>Gender</h4>
				</div>
				<div class="col-md-2">
					<select class="searchBox" name="gender" ng-model="user.gender" >
						<option class="searchBox" value="m">Male</option>
						<option class="searchBox" value="f">Female</option>
					</select>
				</div>
				<div class="col-md-1">
					<h4>Age</h4>
				</div>
				<div class="col-md-2 ">
					<input class="searchBox"  ng-model="user.eta" type="number"  name="birthday" />
				</div>
				<div class="col-md-2">
					<h4>Instruction</h4>
				</div>
				<div class="col-md-2">
					<select class="searchBox" name="instruction" ng-model="user.istruzione">
						<option class="searchBox"  value="media">media</option>
						<option class="searchBox"  value="superiore">superiore</option>
						<option class="searchBox"  value="università">università</option>
					</select>
				</div>
			</div>
			<div class="row"
				style="margin-top: 13px; border-bottom: solid 1px; margin-bottom: 20px; padding-bottom: 50px;">
				<div class="col-md-2">
					<h4>Occupation</h4>
				</div>
				<div class="col-md-2">
					<select name="job" class="searchBox" ng-model="user.occupazione">
						<option class="searchBox" value="studente">studente</option>
						<option class="searchBox" value="lavoratore">lavoratore</option>
						<option class="searchBox" value="pensionato">pensionato</option>
					</select>
				</div>
			</div>

			<div class="row" style="margin-top: 50px;">
				<div class="col-md-2">
					<h4>Car</h4>
				</div>
				<div class="col-md-2">
					<select name="hascar" class="searchBox"  ng-model="user.hascar">
						<option class="searchBox" ng-selected="user.hascar==true" value="true">Yes</option>
						<option class="searchBox" ng-selected="user.hascar==false" value="false">No</option>
					</select>
				</div>
				<div class="col-md-1" >
					<h4 ng-show="user.hascar=='true' || user.hascar==true">Fuel</h4>
				</div>
				<div class="col-md-2">
					<select  ng-show="user.hascar=='true' || user.hascar==true" name="fuel" class="searchBox" ng-model="user.tipocarburante" >
						<option class="searchBox" value="diesel">diesel</option>
						<option class="searchBox" value="benzina">benzina</option>
						<option class="searchBox" value="gpl">gpl</option>
						<option class="searchBox" value="metano">metano</option>
						<option class="searchBox" value="elettrica">elettrica</option>
					</select>
				</div>
				<div class="col-md-2" >
					<h4 ng-show="user.hascar=='true' || user.hascar==true" >Year of registration</h4>
				</div>
				<div class="col-md-2" >
					<input ng-show="user.hascar=='true' || user.hascar==true"  class="searchBox" ng-value="user.annoimmatricolazione" ng-model="user.annoimmatricolazione" type="number" name="carRegistration" />
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<div class="col-md-2">
					<h4>Car Sharing</h4>
				</div>
				<div class="col-md-2" >
					<select name="usecarsharing" class="searchBox" ng-model="user.usecarsharing" >
						<option class="searchBox" ng-selected="user.usecarsharing==true"  value="true">Yes</option>
						<option class="searchBox" ng-selected="user.usecarsharing==false"  value="false">No</option>
					</select>
				</div>
				<div class="col-md-1" >
					<h4 ng-show="user.usecarsharing=='true' || user.usecarsharing==true">Vendor</h4>
				</div>
				<div class="col-md-2"  >
					<select ng-show="user.usecarsharing=='true' || user.usecarsharing==true" name="CSVendor" class="searchBox" ng-model="user.fornitorecarsharing">
						<option class="searchBox" value="enjoy">enjoy</option>
						<option class="searchBox" value="cartogo">cartogo</option>
					</select>
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<div class="col-md-2">
					<h4>Bike</h4>
				</div>
				<div class="col-md-2">
					<select class="searchBox" name="typeOfBike" ng-model="user.usebike">
						<option class="searchBox" value="true" ng-selected="user.usebike==true">Yes</option>
						<option class="searchBox" value="false" ng-selected="user.usebike==false">No</option>
					</select>
				</div>
				<div class="col-md-1" >
					<h4 ng-show="user.usebike=='true' || user.usebike==true">Bike Sharing</h4>
				</div>
				<div class="col-md-2" >
					<select ng-show="user.usebike=='true' || user.usebike==true" class="searchBox" name="usebikesharing" ng-model="user.usebikesharing">
						<option class="searchBox" ng-selected="user.usebikesharing==true" value="true">Yes</option>
						<option class="searchBox" ng-selected="user.usebikesharing==false" value="false">No</option>
					</select>
				</div>

			</div>
			<div class="row" style="margin-top: 20px">
			<div class="col-md-2">
					<h4>transport</h4>
				</div>
				<div class="col-md-2">
					<select class="searchBox" name="usemezzipubblici" ng-model="user.usemezzipubblici">
						<option class="searchBox" ng-selected="user.usemezzipubblici==true" value="true">Yes</option>
						<option class="searchBox" ng-selected="user.usemezzipubblici==false" value="false">No</option>
					</select>
				</div>
				<div class="col-md-1" >
					<h4 ng-show="user.usemezzipubblici=='true' || user.usemezzipubblici==true">Ticket type</h4>
				</div>
				<div class="col-md-2">
					<select ng-show="user.usemezzipubblici=='true' || user.usemezzipubblici==true" class="searchBox" name="TypeOfTicket" ng-model="user.tipoviaggio">
						<option class="searchBox" value="singolo">singolo</option>
						<option class="searchBox" value="giornaliero">giornaliero</option>
						<option class="searchBox" value="mensile">mensile</option>
						<option class="searchBox" value="annuale">annuale</option>
					</select>
				</div>

			</div>
			<div class="row imgcontainer "
				style="padding: 0; padding-right: 15px;">
				<div class=" col-md-2 "></div>
				<div class=" col-md-7 "></div>
				<div class=" col-md-3 ">
					<span class="input input--minoru">
						<button type="submit" class="btn-success">Save</button>
					</span>
				</div>

			</div>
		</form>
	<div ng-show="showSpinner">
        	<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" style="position: absolute;left: 50%; top: 50%">
			   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
			</svg>
        </div>
	</div>


	<!-- Javascript code -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script
		src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js'></script>
	<script
		src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js'></script>
	<script
		src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js'></script>
	<script
		src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js'></script>
	<script
		src='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc4/angular-material.js'></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="../node_modules/leaflet/dist/leaflet.js"></script>
	<script src="../node_modules/leaflet.awesome-markers.min.js"></script>
	<script
		src="../node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
	<script src="../node_modules/ui-leaflet/dist/ui-leaflet.js"></script>
	<script src="../js/angular-resource.js"></script>
	<script src="../js/angular-route.js"></script>
	<script
		src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>
	<script src="../js/app.js"></script>
	<script src="../js/controllers/navController.js"></script>
	<script src="../js/controllers/routeController.js"></script>
	<script src="../js/controllers/stopsController.js"></script>
	<script src="../js/controllers/signalsController.js"></script>
	<script src="../js/controllers/userController.js"></script>


	<script src="../js/anime.min.js"></script>
	<script src="../js/main.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgFeLe0VVD6kjgGdwWJxDOrEt2MocUhF0"
		async="async" defer="defer"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="../js/angular-image-compress.js"></script>

</body>

</html>